# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Build directories
/build/
*.apk
*.aab

# Flutter/Dart tool
.dart_tool/
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android build directories
**/android/.gradle
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/macOS build directories
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Web build directories
**/web/generated/

# Windows build directories
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/CMakeFiles/
windows/cmake_install.cmake
windows/CMakeCache.txt
windows/*.vcxproj
windows/*.vcxproj.filters
windows/*.sln
windows/install_manifest.txt
windows/x64/

# Linux build directories
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/CMakeFiles/
linux/cmake_install.cmake
linux/CMakeCache.txt
linux/*.cmake
linux/install_manifest.txt
linux/build/

# CMake related (general)
**/CMakeFiles/
**/cmake_install.cmake
**/CMakeCache.txt
**/install_manifest.txt

# Coverage
coverage/

# Exceptions to above rules
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
